body {
    background-color: rgb(90, 90, 90);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    background-color: #6F86EE;
    color: #FFFFFF;
    height: 70px;
}

.navbar .navbar-left h2 {
    font-size: 2vmax;
    margin: 5px;
    padding: 2px;
    text-align: center center;
}

.navbar .navbar-center h1 {
    font-size: 3vmax;
    line-height: 1;
    font-weight: 900;
    margin: 5px;
}

.navbar .navbar-right a {
    margin: 5px;
    background: transparent;
    color: #FFFFFF;
    padding: 12px 35px;
    border-radius: 50px;
    border: 2px solid #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.navbar .navbar-right a:hover {
    background-color: #4046b2ad;
    /* 滑鼠懸停時，設定背景顏色 */
    color: #fff;
    /* 滑鼠懸停時，設定文字顏色 */
}

.content {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
}

.card {
    margin-top: 15px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 8px;
}

.card .card-title {
    margin: 2px;
    background-color: #0398ae;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.card .card-title-text {
    flex: 0.9;
}

.card .card-title-text h3 {
    margin: 5px;
    padding: 4px;
    color: #fff;
}

a {
    text-decoration: none;
    color: #0398ae; 
}

.card .card-title-button {
    flex: 0.1;
    margin: 3px;
    padding: 10px;
}

.card .card-title-button input {
    float: right;
    transform: scale(1.5);
    accent-color: gold;
}

.card .card-content {
    margin: 10px;
    margin-top: 12px;
    margin-bottom: 5px;
    display: flex;
    /*布局用的*/
}

.card .card-content-text {
    flex: 0.7;
}

.card .card-content-table {
    flex: 0.3;
    margin: 5px;
}

.card .card-content-table table {
    width: 100%;
    border-collapse: collapse;
}

.card .card-content-table th,
.card .card-content-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.card .card-content-table th {
    background-color: #039dae;
}

.card .card-content-table td {
    font-size: 20px;
    background-color: #b3b1b1;
}