<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>登入</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/login.css">

</head>

<body>
	<div class="box-form">
		<div class="left">
			<div class="overlay">
				<h2>健保特約醫療機構</h2>
				<h1>查詢平台</h1>
			</div>
		</div>

		<div class="right">
			<h5>登入</h5>
			<form method="post">
				<div class="inputs">
					<input type="text" placeholder="ID" name="id">
					<br>
					<input type="password" placeholder="Password" name="password">
				</div>
				<button>登入</button>
			</form>
		</div>

	</div>

</body>

</html>