<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>查詢</title>
    <script src="../static/js/options.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/search.css">
</head>

<body>
    <!-- 查詢 -->
    <div class="box-form">
        <div class="left">
            <div class="overlay">
                <h2>健保特約醫療機構</h2>
                <h1>查詢平台</h1>

                <a href="{{ url_for('favorite', username=username) }}">常用</a>
            </div>
        </div>

        <div class="right">
            <h5>查詢</h5>
            {% for message in get_flashed_messages() %}
            <div class="alert">
                <div class="alert-text">
                    <p>{{ message }}</p>
                </div>
                <div class="alert-btn">
                    <span>&times;</span>
                </div>
            </div>
            <script>
                const closeBtn = document.querySelector('.alert-btn span');
                const alertBox = document.querySelector('.alert');

                closeBtn.addEventListener('click', function () {
                    alertBox.style.display = 'none';
                })
            </script>
            {% endfor %}
            <form method="post">
                <div class="inputs">
                    <select name="county" id="county" onchange="updateOptions()">
                        <option value="">縣市</option>
                        <!-- 6個直轄市 -->
                        <option value="臺北市">臺北市</option>
                        <option value="新北市">新北市</option>
                        <option value="桃園市">桃園市</option>
                        <option value="臺中市">臺中市</option>
                        <option value="臺南市">臺南市</option>
                        <option value="高雄市">高雄市</option>
                        <!-- 16個縣(市) -->
                        <option value="苗栗縣">苗栗縣</option>
                        <option value="彰化縣">彰化縣</option>
                        <option value="南投縣">南投縣</option>
                        <option value="雲林縣">雲林縣</option>
                        <option value="嘉義縣">嘉義縣</option>
                        <option value="屏東縣">屏東縣</option>
                        <option value="宜蘭縣">宜蘭縣</option>
                        <option value="花蓮縣">花蓮縣</option>
                        <option value="臺東縣">臺東縣</option>
                        <option value="基隆市">基隆市</option>
                        <option value="新竹市">新竹市</option>
                        <option value="嘉義市">嘉義市</option>
                        <!-- 新增的 -->
                        <option value="新竹縣">新竹縣</option>
                        <option value="澎湖縣">澎湖縣</option>
                        <option value="金門縣">金門縣</option>
                        <option value="連江縣">連江縣</option>
                    </select>
                    <select id="district" name="district">
                        <option value="">行政區</option>
                    </select>
                    <select id="type" name="type">
                        <option value="">機構類別</option>
                        <option value="district">區域醫院</option>
                        <option value="regional">地區醫院</option>
                        <option value="center">醫學中心</option>
                        <option value="clinic">診所</option>
                        <option value="pharmacy">藥局</option>
                    </select>
                    <div class="checkbox">
                        <input type="checkbox" id="mon" name="mon" checked>
                        <label for="mon">一</label>

                        <input type="checkbox" id="tue" name="tue" checked>
                        <label for="tue">二</label>

                        <input type="checkbox" id="wed" name="wed" checked>
                        <label for="wed">三</label>

                        <input type="checkbox" id="thr" name="thr" checked>
                        <label for="thr">四</label>

                        <input type="checkbox" id="fri" name="fri" checked>
                        <label for="fri">五</label>

                        <input type="checkbox" id="sat" name="sat" checked>
                        <label for="sat">六</label>

                        <input type="checkbox" id="sun" name="sun" checked>
                        <label for="sun">日</label>
                    </div>
                </div>
                <button>查詢</button>
            </form>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>